e* {box-sizing: "border-box";}
.green {color: #80ff00;}
.blue {color: #00bfff;}
.red {color: #ff4000;}
.black {color: #000000;}
.highlight {font-size: 16px; font-weight: bold; font-style: italic; background-color: gray; opacity: 0.5;}
h1 {text-align: center;}
h2, h3, h4 {margin-bottom= 15px;}
p {
  border: 5px solid #000000;
  backgroound-color: #ecedeb;
  width: 90%;
  hight: 150px;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
  color: #ffffff;
}
.row {
  width= 100%;
}
@media (min-width: 992px) {
  .col-lg-4 {
  float: left;
  border: 5px solid black;
  width: 33%;
  }
@media (min-width: 768px) and (max-width: 991px) {
 .col-md-6 {
  float: left;
  border: 5px solid black;
  width: 50%;
  } 
@media (max-width: 767px) {
 .col-sm-12 {
  float: left;
  border: 5px solid black;
  width: 100%;
  }
